---
import '../../styles/markdown.css';
import 'highlight.js/styles/atom-one-dark.css';
import BaseHead from '../../components/BaseHead.astro';
import Tag from '../../components/Tag.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import BlogLayout from '../../layouts/BlogLayout.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getAllBlogs, getBlogBySlug } from '../../lib/api';

export function getStaticPaths() {
  const blogs = getAllBlogs(['slug']);
  return blogs.map((blog) => {
    return {
      params: { slug: blog.slug },
    };
  });
}

const { slug } = Astro.params;
const blog = getBlogBySlug(slug || '', [
  'title',
  'excerpt',
  'content',
  'date',
  'timeToRead',
  'tags',
]);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} - ${blog.title}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainLayout>
      <BlogLayout>
        <div class="mb-8">
          <h1 class="text-4xl mb-4">
            {blog.title}
          </h1>

          <div class="mb-2 text-xl text-neutral-600">{blog.excerpt}</div>

          <div class="mb-2 text-neutral-600">
            {
              blog.date &&
                new Intl.DateTimeFormat('en-US', {
                  dateStyle: 'long',
                }).format(new Date(blog.date))
            }
          </div>

          <div class="mb-2">{blog.timeToRead}</div>

          <div class="flex gap-4">
            {
              blog.tags?.map((tag) => {
                return <Tag>{tag}</Tag>;
              })
            }
          </div>
        </div>

        <article class='markdown' set:html={blog.content} />
      </BlogLayout>
    </MainLayout>
  </body>
</html>
