---
import BaseHead from '../components/BaseHead.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import PageLayout from '../layouts/PageLayout.astro';
import { getAllProjects } from '../lib/api';
import Tag from '../components/Tag.astro';

const projects = getAllProjects([
  'title',
  'description',
  'tags',
  'previewImage',
  'sort',
  'slug',
]);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} - Projects`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <MainLayout>
      <PageLayout name="Projects">
        {
          projects.map((project) => {
            return (
              <div class="mb-16 animate__animated animate__fadeIn">
                <a
                  href={`/projects/${project.slug}`}
                  class="no-underline hover:underline"
                >
                  <h2 class="text-2xl md:text-3xl">{project.title}</h2>
                </a>
                <small class="block text-lg my-2">{project.description}</small>
                <div class="flex gap-4 mb-4">
                  {project.tags?.map((tag) => {
                    return <Tag>{tag}</Tag>;
                  })}
                </div>
                <img class='mb-4' src={project.previewImage} />

                <a
                  href={`/projects/${project.slug}`}
                  class="bg-deep-carrot-orange hover:bg-japanese-indigo px-3 py-2 rounded text-sm text-gray-50 font-bold"
                >
                  Read more...
                </a>
              </div>
            );
          })
        }
      </PageLayout>
    </MainLayout>
  </body>
</html>
